* {
    margin-left: 80px;
    margin-top: 20px;
}
#email,
#name {
    width: 400px;
    height: 50px;
    margin-bottom: 10px;
    border-color:rgb(0, 255, 0);
}

#send {
    width: 400px;
    height: 50px;
    background: green;
}

#massege {
    width: 400px;
    resize: vertical;  
    border-color:rgb(242, 0, 255);
}

body {
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 88%, rgba(252,70,107,1) 94%);
}